<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Baltistani</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css">
    <style>

    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <h2 style="float:left;padding: 0px;margin: 0px;color:rgb(25, 167, 119);" class="">
                    <span>ridaakh</span></h2></li>
                <li style="float:right;">View &nbsp;<a href="#"> release notes </a>  &nbsp;for <span  style="color:rgb(25, 167, 119);">&nbsp; ridaakh &nbsp;</span>1.0</li>
            </ul>
        </nav>
    </header>

    <main>
            <div class="ridaakh">
                <div class="image">
                        <img src="/static/logo.png" >
                </div>

                <p>{{success}}</p>
                <p>{{welcome}}</p>
                <h2 style="" class="anim"><span>ridaakh</span></h2>
                <p>{{name}}</p>
                <p>{{fullname}}</p>
            </div>
    </main>

    <footer>
            <nav class="footr">
                    <ul>
                        <li><div>
                                <a href="">ridaakh documentation</a>
                                <p>Documention includes almost everything about ridaakh</p>
                        </div>

                        </li>
                        <li>
                            <div>
                                    <a href="">Tutorial</a>
                                    <p>This consists of real world project tutorials</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                    <a href="">Get Connected With Us</a>
                                    <p>Stay connected by joining our community</p>
                            </div>
                        </li>
                    </ul>
                </nav>
    </footer>
</body>
</html>
